* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0 16px;
  background: #eee;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: 'Raleway', cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.note-container {
  margin: 0;
  padding: 0;
  width: 80vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-auto-rows: 10px;
  justify-content: center;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  /* width: 240px; */
  margin: 15px 10px;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note_small {
  grid-row-end: span 22;
}

.note_medium {
  grid-row-end: span 32;
}

.note_large {
  grid-row-end: span 45;
}

/* TODO: aplicar grow-row-end de forma dinamica... */
